### Oops

In [1]:
class person:
     def __init__(self, name, surname, emailid, year_of_birth):    
            self.name = name
            self.surname = surname
            self.emailid = emailid
            self.year_of_birth = year_of_birth

In [4]:
obj = person("virat", "kohli", "virat@gmail.com", 1990)

In [5]:
obj.surname

'kohli'

In [6]:
obj.name

'virat'

In [7]:
obj1 = person("rohit", "sharma", "rohit@gmail.com", 1989)

In [8]:
obj1.surname

'sharma'

In [9]:
obj.surname

'kohli'

In [10]:
obj.name

'virat'

In [11]:
class person1:

    def __init__(self, name, surname, emailid, year_of_birth):
        self.name = name
        self.surname = surname
        self.emailid = emailid
        self.year_of_birth = year_of_birth
        
    def __init__(self, name,  year_of_birth):
        self.name = name
        self. year_of_birth= year_of_birth

    def __init__(self, name, surname, year_of_birth):
        self.name = name
        self.surname = surname 
        self. year_of_birth= year_of_birth 
    
        
    def age(self, curretn_year):
        return curretn_year - self.year_of_birth

In [15]:
obj2 = person1("hardik", "pandya", 1990)

In [16]:
obj2.surname

'pandya'

In [23]:
class person2:

    def __init__(self, name, surname, emailid, year_of_birth):
        self.name1 = name
        self.surname1 = surname
        self.emailid1 = emailid
        self.year_of_birth = year_of_birth
           
    def age(self, curretn_year):
        return curretn_year - self.year_of_birth 
    
    def age_2(self, curretn_year):
        return curretn_year

In [20]:
obj3 =person2("rohan", "rao", "rohan@gmail.com", 1999)

In [22]:
obj3.age(2024)

25

In [24]:
obj3.age_2(2024)

2024

In [25]:
class person3 :
    
    def __init__(self , name ,surname , yob):
        self._name1 = name                 # single _ means private 
        self.__surname1 = surname          #  double __ means protective
        self.yob1 = yob                    # public

In [27]:
obj4  =person3("mayuri", "khan", 2000)

In [28]:
obj4.yob1

2000

In [29]:
obj4._name1

'mayuri'

In [31]:
obj4._person3__surname1

'khan'

In [32]:
class person4:                             # parents class

    name = "amit"
    surname = "kumar"
    yob = 1990

    def age(self , current_year ):
        return current_year - self.yob
    
    def age1(self , current_year ):
        return current_year - self.yob



class employee(person4):           #child class
    name = "amit"
    surname = "singh"
    yob = 1991

In [33]:
obj5 = person4()

In [34]:
obj6 = employee()

In [35]:
obj5.name

'amit'

In [36]:
obj6.surname

'singh'

In [38]:
obj6.age1(2024)

33

In [40]:
obj5.age1(2024)

34