In [ ]:
# install mysql connection package
!pip install mysql-connector-python

In [1]:
# import module
import mysql.connector as conn

In [2]:
# make a connection with mysql
mydb = conn.connect(
  host="localhost",
  user="root",
  password="12345"
)

print(mydb)

<mysql.connector.connection_cext.CMySQLConnection object at 0x000002846350DE50>

In [3]:
#create a database in mysql 
mycursor = mydb.cursor()

mycursor.execute("CREATE DATABASE db")

In [4]:
print(mycursor)

CMySQLCursor: CREATE DATABASE db

In [5]:
#show database
mycursor.execute("SHOW DATABASES")

for x in mycursor:
  print(x)

('bank',)
('bulk_load',)
('clauses',)
('const',)
('cte',)
('db',)
('ddl',)
('demo',)
('evenet',)
('final_data',)
('indexx',)
('information_schema',)
('joinn',)
('key_',)
('keyconst',)
('mysql',)
('part',)
('patient',)
('performance_schema',)
('procedures',)
('sakila',)
('sys',)
('test',)
('trigg',)
('v',)
('win_fun',)
('world',)

In [ ]:
mycursor.execute("DROP DATABASE DEMO")

In [7]:
mycursor.execute("use db")

In [8]:
#CREATE TABLE 
mycursor.execute("CREATE TABLE customer (name VARCHAR(255), address VARCHAR(255))")

In [9]:
# HERE WE EDIT THE TABLE ADD ANOTHER COLUMN "MOB", WHICH IS AUTOINCREMENTED AND ALSO PRIMARY KEY
mycursor.execute("ALTER TABLE customer ADD COLUMN id INT AUTO_INCREMENT PRIMARY KEY")

In [10]:
#inserting single row 
# NO NEED OF GIVE PARAMETER WHICH IS AUTOINCEMENTED
sql = "INSERT INTO customer (name, address) VALUES (%s, %s)"
val = ("ROHIT", "Highway 21")
mycursor.execute(sql, val)
mydb.commit()

In [11]:
print(mycursor.rowcount, "record inserted.")

1 record inserted.

In [12]:
mydb.commit()

In [13]:
# INSERT MANY VALUE AT A TIME
sql = "INSERT INTO customer(name, address) VALUES (%s, %s)"
val = [("ROHIT", "Highway 21"),
  ('Peter', 'Lowstreet 4'),
  ('Ammy', 'Apple st 652'),
  ('Huma', 'Mountain 21')]

In [14]:
#COMMIT THE VALUE WHICH WE INSERTED 
mycursor.executemany(sql, val)

mydb.commit()

print(mycursor.rowcount, "was inserted.")

4 was inserted.

In [15]:
#here again inserted a valus but will show the saperate id name of last added row
sql = "INSERT INTO customer (name, address) VALUES (%s, %s)"
val = ("Mohit", "sainagar")
mycursor.execute(sql, val)

mydb.commit()
print("1 record inserted, ID:", mycursor.lastrowid)

1 record inserted, ID: 6

In [16]:
# for view all the existing records available in table
mycursor.execute("SELECT * FROM customer")

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

('ROHIT', 'Highway 21', 1)
('ROHIT', 'Highway 21', 2)
('Peter', 'Lowstreet 4', 3)
('Ammy', 'Apple st 652', 4)
('Huma', 'Mountain 21', 5)
('Mohit', 'sainagar', 6)

In [17]:
# here we can view seperately induvisual column like here we are showing name and address

mycursor.execute("SELECT name, address FROM customer")

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

('ROHIT', 'Highway 21')
('ROHIT', 'Highway 21')
('Peter', 'Lowstreet 4')
('Ammy', 'Apple st 652')
('Huma', 'Mountain 21')
('Mohit', 'sainagar')

In [18]:
mycursor.execute("SELECT name FROM customer")

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

('ROHIT',)
('ROHIT',)
('Peter',)
('Ammy',)
('Huma',)
('Mohit',)

In [19]:
# we filtering the data by using where condition 
sql = "SELECT * FROM customer WHERE address ='sainagar'"

mycursor.execute(sql)

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

('Mohit', 'sainagar', 6)

In [20]:
# with only single word in syllabus we are applying filter  "Wildcard Character"
sql = "SELECT * FROM customer WHERE address LIKE '%652%'"

mycursor.execute(sql)

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

('Ammy', 'Apple st 652', 4)

In [21]:
### ?????????????
sql = "SELECT * FROM customer WHERE address = %s"
adr = ("Yellow Garden 2", )

mycursor.execute(sql, adr)

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

In [22]:
# using order by short the list  
sql = "SELECT * FROM customer ORDER BY name"

mycursor.execute(sql)

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

('Ammy', 'Apple st 652', 4)
('Huma', 'Mountain 21', 5)
('Mohit', 'sainagar', 6)
('Peter', 'Lowstreet 4', 3)
('ROHIT', 'Highway 21', 1)
('ROHIT', 'Highway 21', 2)

In [23]:
# order by descending order
sql = "SELECT * FROM customer ORDER BY name DESC"

mycursor.execute(sql)

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

('ROHIT', 'Highway 21', 1)
('ROHIT', 'Highway 21', 2)
('Peter', 'Lowstreet 4', 3)
('Mohit', 'sainagar', 6)
('Huma', 'Mountain 21', 5)
('Ammy', 'Apple st 652', 4)

In [24]:
# Delete record usning where condition 

sql = "DELETE FROM customer WHERE address = 'Mountain 21'"

mycursor.execute(sql)

mydb.commit()

print(mycursor.rowcount, "record(s) deleted")

1 record(s) deleted

In [25]:
# It is considered a good practice to escape the values of any query, also in delete statements.

# This is to prevent SQL injections, which is a common web hacking technique to destroy or misuse your database.

# The mysql.connector module uses the placeholder %s to escape values in the delete statement: 

sql = "DELETE FROM customer WHERE address = %s"
adr = ("Yellow Garden 2", )

mycursor.execute(sql, adr)

mydb.commit()

print(mycursor.rowcount, "record(s) deleted")

0 record(s) deleted

In [ ]:
# for delete the table from database

sql = "DROP TABLE customer"

mycursor.execute(sql)

In [ ]:
# If the table you want to delete is already deleted, or for any other reason does not exist, you can use the IF EXISTS keyword to avoid getting an error.

sql = "DROP TABLE IF EXISTS customers"

mycursor.execute(sql)

In [26]:
# Update table Overwrite the address column from "Valley 345" to "Canyon 123":

sql = "UPDATE customer SET address = 'sainagar-2' WHERE address = 'sainagar'"

mycursor.execute(sql)

mydb.commit()

print(mycursor.rowcount, "record(s) affected")

1 record(s) affected

In [27]:
# you can limit the record and the row using limit 

mycursor.execute("SELECT * FROM customer LIMIT 3")

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

('ROHIT', 'Highway 21', 1)
('ROHIT', 'Highway 21', 2)
('Peter', 'Lowstreet 4', 3)

In [28]:
# offset Start from position 3, and return 5 records:

mycursor.execute("SELECT * FROM customer LIMIT 5 OFFSET 2")

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

('Peter', 'Lowstreet 4', 3)
('Ammy', 'Apple st 652', 4)
('Mohit', 'sainagar-2', 6)

In [ ]:
# join two table using 

sql = "SELECT \
  users.name AS user, \
  products.name AS favorite \
  FROM users \
  INNER JOIN products ON users.fav = products.id"

mycursor.execute(sql)

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

In [ ]:
mycursor.execute("use bulk")